
@{
    string s = "blue";
    int r = 55;

}

<h2 onclick="ss()">@ViewBag.Title.</h2>
<p onclick="bate()"  id="s">cc</p>
<h3></h3>


<script>
    var f = 0;
    function ss() {
document.getElementById("s").innerHTML = "3";

    }
    function bate() {
       
     @(r+= 1)

            @for (int i = 0; i < 101;i++) {


                if ( i == r) {
                 @:   document.getElementById("s").innerHTML = "@i";
                 }
                }



            }
    document.getElementById("s").style.color = "@s";
    var s = "@s";
    console.log(s);
</script>